# Dependencies
node_modules/
.pnp
.pnp.js

# Build output
dist/
out-tsc/

# Angular cache
.angular/

# Environment files
.env
.env.local
src/environments/environment.prod.ts

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
